<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2> </h2>
    <img viewBox="0 0 128 128"
      src="python.svg"
      alt="python logo"
      height="187"
      width="200"
    />
  </div>
  <div class="tech">
    <h2>Coding Languages</h2>
    <img
      src="Fortran.svg"
      alt="fortran logo"
      height="67"
      width="100"/>
  </div>
  <div class="tech">
    <h2> </h2>
    <img viewBox="0 0 128 128"
      src="matlab.svg"
      alt="matlab logo"
      height="167"
      width="110"/>
  </div>
</div>
  <p><center>My main development languages are python and Fortran. I also have experience with Matlab. </center></p>
