<div class="user-details">
  <h1> My Expertise </h1>
  <p> I am a PhD candidate in Astrodynamics and Space Applications at Purdue University. As part of my dissertation work, I am applying my skills in Planetary Sciences, by modeling the orbital evolution of planetary rings and satellites systems, such as the hypothesized ancient martian ring system, or the contemporary ring system around Chariklo. </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Engineering</h2>
      <img 
      src="rocket.svg" 
      alt="rocket"
      height = 100
      width = 100>
      <p>I have an extensive engineering background. I graduated from Ecole des Mines de Nancy, France with a Bachelor and Master of Sc., followed by a double diploma at Purdue University in Aeronautics and Astronautics.</p>
    </div>
    <div class="tech">
      <h2>Coding</h2>
      <img 
      src="coding.svg" 
      alt="coding"
      height = 100
      width = 100>
      <p>I have developed extensive programming skills through my PhD work, mainly in Python and Fortran, but I have also used Matlab, Maple, Visual Basic, and C.</p>
    </div>
    <div class="tech">
      <h2>Science</h2>
      <img 
      src="planet.svg" 
      alt="space"
      height= 100
      width = 100>
      <p>I developed my planetary science knowledge through projects and coursework at Purdue University, participating in many concept mission design studies and an analog astronaut mission.</p>
    </div>
</div>
