<div class="user-details">
  <h1> Past Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/blog/assets/img/mountains.jpg" />
  </div>
  <div class="contents">
    <h3> Caltech Space Challenge 2019 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Genetic Algorithm  </h3>
    <ul>
    </ul>
    <p>Development of a genetic algorithm tool to predict impactor properties for lunar craters.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents">
    <h3> Fortune: Concept Mission Design Study </h3>
    <ul>
    </ul>
    <p>Designed the Telecommunication, Command & Data Handling, Scientific subsystems for CubeSat mission to Near-Earth Asteroid for the student competition for the 2017 Astrodynamics Specialist Conference.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Human Journey to Mars  </h3>
    <ul>
    </ul>
    <p>Leadership of a team of 30 students for Human Journey to Mars for a one-year research project on complex concept mission for Human colonization and exploration of the Martian soil.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents">
    <h3> OCEANUS: Concept Mission Design Study </h3>
    <ul>
    </ul>
    <p>Developed tools for the complete concept study of a flagship mission to Uranus with a Saturn Flyby. Designed of the Command and Data Handling system, Telecommunications system. Defined the scientific objectives and the instrument payload for the mission.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
  <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Mobility System for Icy Moon Exploration  </h3>
    <ul>
    </ul>
    <p>Designed a Concept of innovative rover for Solar System’s Icy Moon Exploration to survive Europa’s conditions.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  </div>
  <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/blog/assets/img/skate.jpg" />
  </div>
  <div class="contents">
    <h3> Determination of the composition of wildfire gases </h3>
    <ul>
    </ul>
    <p>Developed a Matlab model to determine more accurately the content of dioxygen, dihydrogen, carbon dioxide, carbon monoxide, and soot in wildfires gases. .</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
