<div class="user-details">
    <h1> Current Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/swiftest.png" />
  </div>
  <div class="contents">
    <h3> Martian Moons </h3>
    <p>I am developing an N-body dynamics accretion model called Swiftest, that uses fragmentation, tidal evolution, and ring/moons evolution to reconcile observable properties of Phobos and Deimos with their formation via giant-Martian impact debris disk hypothesis.</p>
  </div>
    <center><a  class="project-link" href="#">The Importance of Being Swiftest: The effects of collisional fragmentation on the accretion timescale of the martian moons and the terrestrial planets. (Talk) Pouplin, J., Wishard, C., Elliott, J., Minton, D. (2020)</a></center>
    <center><a class="project-link" href="#">Swiftest: An N-body dynamics code incorporating collisional regime determination and fragmentation (Poster) Wishard, C., Pouplin, J., Elliott, J., Minton, D. (2020</a></center>
    <center><a class="project-link" href="https://arxiv.org/abs/2006.00645">Evidence for a Past Martian Ring from the Orbital Inclination of Deimos (Paper) Cuk, M., Minton, D., Pouplin, J., Wishard., C. </a></center>
    <center><a class="project-link" href="https://ui.adsabs.harvard.edu/abs/2019AGUFM.P11A..07M/abstract">The origin of Miranda from a massive early ring at Uranus. (Talk) Minton D., Hesselbrock, A., Pouplin, J. </a></center>
    
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Chariklo and other TNOs </h3>
    <p>Using Swiftest, we are trying to estimate ring stability and timescales around Trans-Neptunian Objects such as Chariklo, using numerical and experimental data.</p>
    <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <h1><center> Past Projects </center></h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/mountains.jpg" />
  </div>
  <div class="contents">
    <h3> Caltech Space Challenge 2019 </h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://ui.adsabs.harvard.edu/abs/2020LPI....51.2077V/abstract">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Genetic Algorithm  </h3>
    <ul>
    </ul>
    <p>Development of a genetic algorithm tool to predict impactor properties for lunar craters.</p>
    <a class="project-link" href="https://ui.adsabs.harvard.edu/abs/2018LPI....49.2577E/abstract">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents">
    <h3> Fortune: Concept Mission Design Study </h3>
    <ul>
    </ul>
    <p>Designed the Telecommunication, Command & Data Handling, Scientific subsystems for CubeSat mission to Near-Earth Asteroid for the student competition for the 2017 Astrodynamics Specialist Conference.</p>
    <a class="project-link" href="">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Human Journey to Mars  </h3>
    <ul>
    </ul>
    <p>Leadership of a team of 30 students for Human Journey to Mars for a one-year research project on complex concept mission for Human colonization and exploration of the Martian soil.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/oceanus.png" />
  </div>
  <div class="contents">
    <h3> OCEANUS: Concept Mission Design Study </h3>
    <ul>
    </ul>
    <p>Developed tools for the complete concept study of a flagship mission to Uranus with a Saturn Flyby. Designed of the Command and Data Handling system, Telecommunications system. Defined the scientific objectives and the instrument payload for the mission.</p>
    <a class="project-link" href="https://www.sciencedirect.com/science/article/abs/pii/S0273117717301096">Check it out</a>
  </div>
</div>
  <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents-right">
    <h3> Mobility System for Icy Moon Exploration  </h3>
    <ul>
    </ul>
    <p>Designed a Concept of innovative rover for Solar System’s Icy Moon Exploration to survive Europa’s conditions.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
  </div>
  <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="/assets/img/skate.jpg" />
  </div>
  <div class="contents">
    <h3> Determination of the composition of wildfire gases </h3>
    <ul>
    </ul>
    <p>Developed a Matlab model to determine more accurately the content of dioxygen, dihydrogen, carbon dioxide, carbon monoxide, and soot in wildfires gases. .</p>
    <a class="project-link" href="https://iopscience.iop.org/article/10.1088/1742-6596/676/1/012018/meta">Check it out</a>
  </div>
</div>
